<h1>Listing redeemed_deals</h1>

<table>
  <tr>
    <th>User</th>
    <th>Deal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @redeemed_deals.each do |redeemed_deal| %>
  <tr>
    <td><%= redeemed_deal.user_id %></td>
    <td><%= redeemed_deal.deal_id %></td>
    <td><%= link_to 'Show', redeemed_deal %></td>
    <td><%= link_to 'Edit', edit_redeemed_deal_path(redeemed_deal) %></td>
    <td><%= link_to 'Destroy', redeemed_deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Redeemed deal', new_redeemed_deal_path %>
