<h1>Listing deals</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Coupon no</th>
    <th>Redemption code</th>
    <th>Value</th>
    <th>Image url</th>
    <th>Item name</th>
    <th>Store</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
    <td><%= deal.description %></td>
    <td><%= deal.coupon_no %></td>
    <td><%= deal.redemption_code %></td>
    <td><%= deal.value %></td>
    <td><%= deal.image_url %></td>
    <td><%= deal.item_name %></td>
    <td><%= deal.store_id %></td>
    <td><%= link_to 'Show', api_v1_deal_path(deal) %></td>
    <td><%= link_to 'Edit', edit_api_v1_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', api_v1_deal_path(deal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deal', new_api_v1_deal_path %>
