<div align="center" xmlns="http://www.w3.org/1999/html">
  <table border="0" cellspacing="0" cellpadding="0" width="631" style="width:473.5pt;background:#003366">

    <tbody>
    <tr>
      <td width="1" valign="top" style="width:1.0pt;background:#b8cce4;padding:0in 0in 0in 0in"><p class="MsoNormal">
        <img width="10" height="1" src="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
      </p>

      </td>
      <td width="620" valign="top" style="width:465.0pt;padding:0in 0in 0in 0in">
        <table border="0" cellspacing="0" cellpadding="0" width="620" style="width:465.0pt;background:#003366">
          <tbody>
          <tr>
            <td width="620" valign="top" style="width:465.0pt;padding:0in 0in 0in 0in">

              <table border="0" cellspacing="0" cellpadding="0" width="620" style="width:465.0pt;background:#b8cce4">
                <tbody>
                <tr style="min-height:69.75pt">
                  <td valign="top" style="padding:0in 0in 0in 0in;min-height:69.75pt"></td>
                  <td style="padding:0in 0in 0in 0in;min-height:69.75pt">

                    <p class="MsoNormal"><%= image_tag "http://www.imageurlhost.com/images/mdd251d18gbwqex1b4ze.png", :width => "109", :height => "117" %>
                      <span style="font-size:12.0pt"><u></u><u></u></span></p></td>
                  <td width="10" valign="top" style="width:7.5pt;padding:0in 0in 0in 0in;min-height:69.75pt">

                    <p class="MsoNormal" align="right" style="text-align:right">
                      <img width="10" height="1" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                    </p>

                  </td>
                </tr>
                </tbody>
              </table>
              <p class="MsoNormal"><span><u></u>&nbsp;<u></u></span></p>
              <table border="0" cellspacing="0" cellpadding="0" width="620" style="width:465.0pt;background:#b8cce4">
                <tbody>
                <tr>
                  <td width="10" valign="top" style="width:7.5pt;padding:0in 0in 0in 0in">

                    <p class="MsoNormal">
                      <img width="10" height="1" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                    </p>

                  </td>
                  <td width="600" valign="top" style="width:6.25in;padding:0in 0in 0in 0in">
                    <table border="0" cellspacing="0" cellpadding="0" width="600" style="width:6.25in;background:white">
                      <tbody>
                      <tr>
                        <td colspan="3" valign="top" style="background:#def2fc;padding:0in 0in 0in 0in">

                          <table border="0" cellspacing="0" cellpadding="0" width="600" style="width:6.25in;background:#def2fc">
                            <tbody>
                            <tr style="min-height:63.75pt">
                              <td width="35" valign="top" style="width:26.25pt;padding:0in 0in 0in 0in;min-height:63.75pt">

                                <p class="MsoNormal">
                                  <img width="35" height="1" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                                </p>

                              </td>
                              <td style="padding:0in 0in 0in 0in;min-height:63.75pt">
                                <table border="0" cellspacing="0" cellpadding="0" style="background:#def2fc">
                                  <tbody>
                                  <tr>
                                    <td style="padding:0in 0in 0in 0in"><p class="MsoNormal">
                                      <span style="font-size:21.0pt;color:#003366">Welcome!<u></u><u></u></span></p>

                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                              <td width="1" valign="top" style="width:.75pt;padding:0in 0in 0in 0in;min-height:63.75pt">
                                <p class="MsoNormal">
                                  <img width="1" height="66" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                                </p>

                              </td>
                              <td width="34" valign="top" style="width:25.5pt;padding:0in 0in 0in 0in;min-height:63.75pt">
                                <p class="MsoNormal">
                                  <img width="35" height="1" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                                </p>

                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr style="min-height:26.25pt">
                        <td colspan="3" valign="top" style="padding:0in 0in 0in 0in;min-height:26.25pt">
                          <p class="MsoNormal">
                            <img width="1" height="35" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                          </p>

                        </td>
                      </tr>
                      <tr>
                        <td width="35" valign="top" style="width:26.25pt;padding:0in 0in 0in 0in"><p class="MsoNormal">
                          <img width="35" height="1" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                        </p>

                        </td>
                        <td width="530" valign="top" style="width:397.5pt;padding:0in 0in 0in 0in">
                          <table border="0" cellspacing="0" cellpadding="0" width="530" style="width:397.5pt;background:white">
                            <tbody>
                            <tr>
                              <td valign="top" style="padding:0in 0in 0in 0in">

                                <table border="0" cellspacing="0" cellpadding="0" width="530" style="width:397.5pt;background:white">
                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">
                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <span style="font-size:11.5pt;color:#404040">Hi <%= @user.name %>,<u></u><u></u></span>
                                      </p>

                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in"><p class="MsoNormal">
                                      <img width="1" height="15" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                                    </p>

                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top" style="padding:0in 0in 0in 0in">
                                <table border="0" cellspacing="0" cellpadding="0" width="530" style="width:397.5pt;background:white">
                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">

                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <span style="font-size:11.5pt;color:#404040">Thank you for subscribing to beam-e-up on Yonge Street. We are truly honored you have chosen to join our zone.<u></u><u></u></span>
                                      </p>

                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <span style="font-size:11.5pt;color:#404040"><u></u>&nbsp;<u></u></span></p>

                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <span style="font-size:11.5pt;color:#404040">Your secure account has been successfully created. Please print and save this email for your records.<u></u><u></u></span>
                                      </p>

                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <span style="font-size:11.5pt;color:#404040"><u></u>&nbsp;<u></u></span></p>

                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <b><span style="font-size:11.5pt;color:#404040">Username:</span></b><span style="font-size:11.5pt;color:#404040"> <%= @user.username %>
                                        <u></u><u></u></span></p>

                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <b><span style="font-size:11.5pt;color:#404040">Password:</span></b><span style="font-size:11.5pt;color:#404040"> <%= @user.password %>
                                        <u></u><u></u></span></p></td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">

                                      <p class="MsoNormal">
                                        <span style="font-size:11.5pt"><img width="1" height="5" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><u></u><u></u></span>
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">
                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <span style="font-size:11.5pt;color:#404040">&nbsp;&nbsp;<u></u><u></u></span>
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">

                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">
                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <span style="font-size:11.5pt;color:#404040">Click the following button to verify your email address and continue what you were doing.<u></u><u></u></span>
                                      </p>

                                    </td>
                                  </tr>
                                  <tr>
                                    <td width="530" valign="top" style="width:397.5pt;padding:0in 0in 0in 0in">
                                      <table border="0" cellspacing="0" cellpadding="0" width="530" style="width:397.5pt;background:white">
                                        <tbody>
                                        <tr>
                                          <td valign="top" style="padding:0in 0in 0in 0in">

                                            <p class="MsoNormal">
                                              <span style="font-size:11.5pt"><img width="1" height="15" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><u></u><u></u></span>
                                            </p>

                                          </td>
                                        </tr>
                                        <tr>
                                          <td valign="top" style="padding:0in 0in 0in 0in">
                                            <div align="center">
                                              <table border="0" cellspacing="0" cellpadding="0" style="background:#9fc71c">
                                                <tbody>
                                                <tr style="min-height:20.25pt">
                                                  <td width="10" valign="top" style="width:7.5pt;padding:0in 0in 0in 0in;min-height:20.25pt">

                                                    <p class="MsoNormal" align="right" style="text-align:right">
                                                      <span style="font-size:11.5pt"><%= image_tag "user_mailer/image010.gif", :width => "10", :height => "27" %>
                                                        <u></u><u></u></span></p>

                                                  </td>
                                                  <td nowrap="" style="padding:0in 6.0pt 0in 6.0pt;min-height:20.25pt">
                                                    <p class="MsoNormal" align="center" style="text-align:center">
                                                      <span style="font-size:11.5pt"><a href="http://beu.herokuapp.com/" title="https://id.atlassian.com/profile/verifyEmail.action?token=db9ebc6a1d3518c71af22142ce2c1ee98985b9c7" target="_blank"><b><span style="color:white;text-decoration:none">LOGIN&nbsp;»</span></b></a><u></u><u></u></span>
                                                    </p>

                                                  </td>
                                                  <td width="10" valign="top" style="width:7.5pt;padding:0in 0in 0in 0in;min-height:20.25pt">
                                                    <p class="MsoNormal">
                                                      <span style="font-size:11.5pt"><%= image_tag "user_mailer/image011.gif", :border => "0", :width => "10", :height => "27" %>
                                                        <u></u><u></u></span></p>

                                                  </td>
                                                </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in"><p class="MsoNormal">
                                      <span style="font-size:11.5pt"><img border="0" width="1" height="15" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><u></u><u></u></span>
                                    </p>

                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">
                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <span style="font-size:11.5pt;color:#404040">You can also copy and paste this link into your browser.<u></u><u></u></span>
                                      </p>

                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in"><p class="MsoNormal">
                                      <span style="font-size:11.5pt"><img border="0" width="1" height="15" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><u></u><u></u></span>
                                    </p>

                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">
                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <span style="font-size:11.5pt;color:#404040"><a href="http://beu.herokuapp.com" target="_blank">http://beu.herokuapp.com</a><u></u><u></u></span>
                                      </p>

                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in"><p class="MsoNormal">
                                      <span style="font-size:11.5pt"><img border="0" width="1" height="15" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><u></u><u></u></span>
                                    </p>

                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top" style="padding:0in 0in 0in 0in"></td>
                            </tr>
                            <tr>
                              <td valign="top" style="padding:0in 0in 0in 0in">
                                <table border="0" cellspacing="0" cellpadding="0" width="530" style="width:397.5pt;background:white">

                                  <tbody>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in"><p class="MsoNormal">
                                      <span style="font-size:11.5pt"><img border="0" width="1" height="20" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif">To reset or customize your password, please follow this link<u></u><u></u></span>
                                    </p>

                                      <p class="MsoNormal"><span style="font-size:11.5pt"><u></u>&nbsp;<u></u></span>
                                      </p>

                                      <p class="MsoNormal">
                                        <span style="font-size:11.5pt;color:#404040"><a href="http://beu.herokuapp.com/edit_password" target="_blank">http://beu.herokuapp.com/edit_
                                          <wbr>
                                          password</a> &nbsp;<u></u><u></u></span></p>

                                    </td>
                                  </tr></br></br></br>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">
                                      <p class="MsoNormal" style="line-height:13.5pt"></br>
                                        <span style="font-size:11.5pt;color:#404040"></br>Regards,<u></u><u></u></span></p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">

                                      <p class="MsoNormal">
                                        <span style="font-size:11.5pt"><img border="0" width="1" height="5" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><u></u><u></u></span>
                                      </p>

                                    </td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">
                                      <p class="MsoNormal" style="line-height:13.5pt">
                                        <span style="font-size:11.5pt;color:#404040">The beam-e-up Team<u></u><u></u></span>
                                      </p></td>
                                  </tr>
                                  <tr>
                                    <td valign="top" style="padding:0in 0in 0in 0in">

                                      <p class="MsoNormal">
                                        <span style="font-size:11.5pt"><img border="0" width="1" height="10" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><u></u><u></u></span>
                                      </p>

                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top" style="padding:0in 0in 0in 0in"></td>
                            </tr>
                            <tr>
                              <td valign="top" style="padding:0in 0in 0in 0in"></td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                        <td width="35" valign="top" style="width:26.25pt;padding:0in 0in 0in 0in">

                          <p class="MsoNormal">
                            <img border="0" width="35" height="1" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                          </p>

                        </td>
                      </tr>
                      <tr style="min-height:26.25pt">
                        <td colspan="3" valign="top" style="padding:0in 0in 0in 0in;min-height:26.25pt">
                          <p class="MsoNormal">
                            <img border="0" width="1" height="35" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                          </p>

                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <p class="MsoNormal"><span><u></u>&nbsp;<u></u></span></p>
                    <table border="0" cellspacing="0" cellpadding="0" width="600" style="width:6.25in;background:#b8cce4">
                      <tbody>
                      <tr>
                        <td colspan="2" valign="top" style="padding:0in 0in 0in 0in">

                          <p class="MsoNormal">
                            <img border="0" width="1" height="25" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                          </p>

                        </td>
                      </tr>
                      <tr>
                        <td valign="top" style="padding:0in 0in 0in 0in"><p class="MsoNormal">
                          <span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#245c98"><u></u>&nbsp;<u></u></span>
                        </p></td>
                        <td valign="top" style="padding:0in 0in 0in 0in">

                          <p class="MsoNormal" align="right" style="text-align:right">
                            <span style="font-size:12.0pt"><u></u>&nbsp;<u></u></span></p></td>
                      </tr>
                      <tr>
                        <td colspan="2" valign="top" style="padding:0in 0in 0in 0in">
                          <p class="MsoNormal"><span style="font-size:12.0pt"><u></u>&nbsp;<u></u></span></p>

                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <p class="MsoNormal"><u></u><u></u></p></td>
                  <td width="10" valign="top" style="width:7.5pt;padding:0in 0in 0in 0in"><p class="MsoNormal">
                    <img border="0" width="10" height="1" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif"><span style="font-size:12.0pt"><u></u><u></u></span>
                  </p>

                  </td>
                </tr>
                </tbody>
              </table>
              <p class="MsoNormal"><span><u></u>&nbsp;<u></u></span></p>
              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;background:#b8cce4">
                <tbody>
                <tr>
                  <td valign="top" style="padding:0in 0in 0in 0in">

                    <p class="MsoNormal">
                      <img border="0" width="1" height="1" src="" alt="http://click.mailer.atlassian.com/open.aspx?ffcb10-fe55107973600d747414-fdf212777662017971147671-fec2157377620c74-fec216717c6c0c7c-fe1a1d787463057b7d1178-ff291073726c&amp;d=10025"><span style="font-size:12.0pt"><u></u><u></u></span>
                    </p>

                  </td>
                </tr>
                </tbody>
              </table>
              <p class="MsoNormal">
                <span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;"><u></u><u></u></span>
              </p></td>
          </tr>
          </tbody>
        </table>
      </td>
      <td width="10" valign="top" style="width:7.5pt;background:#b8cce4;padding:0in 0in 0in 0in">

        <p class="MsoNormal">
          <img border="0" width="10" height="1" src="" alt="http://image.mailer.atlassian.com/lib/fec2157377620c74/m/2/spacer.gif">
        </p></td>
    </tr>
    </tbody>
  </table>
</div>
