<h1>Listing admin_classified_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Parent category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_classified_categories.each do |admin_classified_category| %>
  <tr>
    <td><%= admin_classified_category.name %></td>
    <td><%= admin_classified_category.parent_category_id %></td>
    <td><%= link_to 'Show', admin_classified_category %></td>
    <td><%= link_to 'Edit', edit_admin_classified_category_path(admin_classified_category) %></td>
    <td><%= link_to 'Destroy', admin_classified_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Classified category', new_admin_classified_category_path %>
