<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
    <%#= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :retailer_logo %><br />
    <%= f.text_field :retailer_logo %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :coupen_image %><br />
    <%= f.file_field :coupen_image %>
  </div>
  <div class="field">
    <%= f.label :retailer_image %><br />
    <%= f.file_field :retailer_image %>
  </div>
  <div class="field">
    <%= f.label :item_image %><br />
    <%= f.file_field :item_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
