
<%content_for :title, 'beam-e-up | Change Subscription'%>
<%content_for :keywords, '' %>
<%content_for :description, '' %>

<div class="content">
  <%= render :partial=> 'partials/main_menu' %>
  <div class="contentInside">
    <!-- Content goes here-->

    <%= form_for(@user_payment, :url => save_subscription_change_user_payments_url, :html=>{:method=>:post, :id => 'change_subscription_form'} ) do |f| %>

    <div class="panel">
      <div class="head"><h3>Change Subscription</h3></div>
      <div class="inside">
            Choose from One of the following Subscription Plans:<br/><br/>
                <div class="q1" id="self">
                  <h4><strong>Plan</strong></h4><br/>
                  <span id="plans" class="InputGroup">
                    <%counter=0%>
                  <% @full_plans.each do |plan| %>

                      <%= f.radio_button :plan_id, plan.id, :id=>"#{plan.title}@#{plan.compaigns_per_month}@#{plan.id}",:data=> plan.price, :checked => counter==0 ? true : false  %>
                        <%counter=counter+1%>
                        <label for="platinum">
                          <%= "#{plan.title} - #{plan.compaigns_per_month} #{'campaigns per month' if plan.compaigns_per_month!= 'Unlimited'}" %>
                        </label>
                      <br/>
                  <% end %>
                  </span>
                </div>
                <div class="q1" id="self">
                  <h4><strong>Monthly Pricing</strong></h4><br/>
                  <% @self_plans.each do |i| %>
                      <label for="platinum">$<%= i[:price].to_i %> per month</label><br/>
                  <% end %>
                </div>
                <div class="clear"></div>
                <div class="q1" id="full" style='display: none'>
                  <h4><strong>Plan</strong></h4><br/>
                  <span id="plans" class="InputGroup">
                  <% @full_plans.each do |plan| %>
                      <%= f.radio_button :plan_id, plan.id, :id=>"#{plan.title}@#{plan.compaigns_per_month}@#{plan.id}",:data=> plan.price  %>
                        <label for=<%=plan.title%>>
                          <%= "#{plan.title} - #{plan.compaigns_per_month} #{'campaigns per month' if plan.compaigns_per_month!= 'Unlimited'} " %>
                        </label>
                      <br/>
                  <% end %>
                  </span>
                </div>
                <div class="q1" id="full" style='display: none'>
                  <h4><strong>Monthly Pricing </strong></h4><br/>
                  <% @full_plans.each do |i| %>
                      <label for="platinum">$<%= i[:price].to_i %> per month</label><br/>
                  <% end %>
                </div>
                <div class="clear"></div>
                <br/>

                <div class="divider"></div>
                <br/>
                <span id="servicegroup" class="InputGroup">
                <%= f.radio_button :service_type, "self", class: "radio" ,:id=>"Self Service",:checked=>true%>
                <label for="self">Self Service</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= f.radio_button :service_type, "full", class: "radio" ,:id=>"Full Service",:checked=>false%>
                <label for="full">Full Service</label>
                </span><br/>
            
          </div>
          <div class="q" style="width:560px; margin-top:-10px; margin-right:0px; display:none;">
                <br/>

                <h3>Payment Options</h3>

                <div class="q" style="width:320px;">
                  <h3>Credit Card</h3>
                  <label class="static" for="name">Name: </label>
                  <input type="text" name="payment_name" id="payment_name" style="width:150px;" class="validate[required] text-input" /><br/><br/>
                  <label class="static" for="cardNumber">Card Number: </label>
                  <input type="text" name="payment_cardNumber" id="payment_cardNumber" style="width:150px;" class="validate[required] text-input"/><br/><br/>
                  
                  <div class="q nomargin custom_selector" >
                    <label class="static" for="expireDate">Expire Date: </label>
                  <%=  select_month(Date.today, {:field_name => 'month', :use_month_numbers => true, :prefix=>'expiry'}, {:class=>"preview_change inline"})%>
                  <%=  select_year(Date.today, { :field_name => 'year', :prefix=>'expiry', :start_year => Time.zone.now.year, :end_year => (Time.zone.now.year + 13)}, {:class=>"preview_change inline"})%>
                  </div>
                  
                  <br/><br/>
                  <div>
                    <div class="checker hover" id="uniform-target_rule_all">
                      <span>
                        <input id="payment_agreetopay" name="payment_agreetopay" type="checkbox" value="1" style="opacity: 0;" />
                      </span>
                    </div>
                    Agree to make a payment</div>
                </div>

                <div class="q nomargin" style="width:180px;">
                  <h3>PayPal</h3>
                  <a href="#"><%= image_tag '/images/paypal.png', :width => "143", :height => "60", :alt => "PayPal" %></a>
                </div>

                <div class="clear"></div>
                <br/>
            </div>
    </div>
    <div class="clear"></div>
    <%#*<a class="edgyBlueButton nomargin" onClick="window.history.go(-1)">Back</a>%>
    <%= link_to 'Back',user_path(current_user.id), :class => "edgyBlueButton nomargin" %>
    <span class="floatRight"><%= f.submit 'Save', :class => "edgyBlueButton nomargin link_button" %></span>

    <% end %>
    <div class="clear"></div>
    <!-- Content ends here-->
  </div>
</div>

