<h1>Listing user_categories</h1>

<table>
  <tr>
    <th>User</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_categories.each do |user_category| %>
  <tr>
    <td><%= user_category.user_id %></td>
    <td><%= user_category.category_id %></td>
    <td><%= link_to 'Show', api_v1_user_category_path(user_category) %></td>
    <td><%= link_to 'Edit', edit_api_v1_user_category_path(user_category) %></td>
    <td><%= link_to 'Destroy', api_v1_user_category_path(user_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User category', new_api_v1_user_category_path %>
