
  <%= link_to 'Add a New Zone?', new_admin_zone_path , :style=>"width:300px;" , :class=>"edgyBlueButton" %>
  <br><br>
  <%= link_to 'Add a New Retailer?', new_user_path , :style=>"width:300px;" , :class=>"edgyBlueButton" %>
  <br><br>
   <%= link_to 'Access Retailer Accounts?', switch_path , :style=>"width:300px;" , :class=>"edgyBlueButton" %>
  <br><br>
  <%= link_to 'Add a Classified Ad?', new_admin_classified_path , :style=>"width:300px;" , :class=>"edgyBlueButton" %>
  <br><br>
  <%= link_to 'Add a Question of the Day?', new_admin_question_path , :style=>"width:300px;" , :class=>"edgyBlueButton" %>
  <br><br>
  <a class="edgyBlueButton" href="#" style="width:300px;">View Statistics?</a>
  <br><br>
