
<%= radio_button_tag '3[0]','1', true,:class => "data_restrict" %><h3> Buy One, Get One (BOGO) </h3><br /><br />

    <div id="d_3_0_1" class="show toggle_d">
      <%= radio_button_tag '3[1]','1' %><%= label_tag '3[1_1]', 'Buy one, get one free' %><br /><br/>
      <%= radio_button_tag '3[1]','2' %> Buy  &nbsp;<%= text_field_tag '3[1_2][1]' %> and get &nbsp;<%= text_field_tag '3[1_2][2]' %>  free!<br /><br/>
      <%= radio_button_tag '3[1]','3' %> Buy  &nbsp;<%= text_field_tag '3[1_3][1]' %> and get $ &nbsp;<%= text_field_tag '3[1_3][2]' %>  off your purchase!<br /><br/>
      <%= radio_button_tag '3[1]','4' %> Buy  &nbsp;<%= text_field_tag '3[1_4][1]' %> and get &nbsp;<%= text_field_tag '3[1_4][2]' %> % off!<br /><br/>
      <%= radio_button_tag '3[1]','5' %> Buy  &nbsp;<%= text_field_tag '3[1_5][1]' %> and get &nbsp;<%= text_field_tag '3[1_5][2]' %> %  off the next unit!<br /><br/>
    </div>

    <%= radio_button_tag '3[0]','2', false,:class => "data_restrict" %><h3>Promotional – Item/bundle</h3><br /><br />

    <div id="d_3_0_2" class="hide toggle_d">
      <%= radio_button_tag '3[2]','1' %> Present this coupon to receive &nbsp;<%= text_field_tag '3[2_1][1]'%> % off &nbsp;<%= text_field_tag '3[2_1][2]'%><br /><br/>
    </div>

    <%= radio_button_tag '3[0]','3', false,:class => "data_restrict" %><h3>Time Sensitive – Item/bundle</h3><br /><br />

    <div id="d_3_0_3" class="hide toggle_d">
      <%= radio_button_tag '3[3]','1' %> Purchase &nbsp;<%= text_field_tag '3[3_1][1]'%> by &nbsp;<%= text_field_tag '3[3_1][2]'%> and receive &nbsp;<%= text_field_tag '3[3_1][3]'%> % off!<br /><br/>
     
    </div>

    