<%= radio_button_tag '5[0]','1', true,:class => "data_restrict" %><h3>Time Sensitive – Item/bundle</h3><br /><br />

<div id="d_5_0_1"  class="show toggle_d">
  <%= radio_button_tag '5[1]','1' %> Purchase &nbsp;<%= text_field_tag '5[1_1][1]'%> by &nbsp;<%= text_field_tag '5[1_1][2]'%> and receive &nbsp;<%= text_field_tag '5[1_1][3]'%> % off!<br /><br/>

</div>