<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Description:</b>
  <%= @store.description %>
</p>

<p>
  <b>Logo url:</b>
  <%= @store.logo_url %>
</p>

<p>
  <b>Rule:</b>
  <%= @store.target_rule_id %>
</p>


<%= link_to 'Edit', edit_api_v1_store_path(@store) %> |
<%= link_to 'Back', api_v1_stores_path %>
